 @font-face {
        font-family: digital-7;
        src: url("Assets\digital-7.ttf");
    }

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: darkblue;
}
.section{
    text-align: center;
}
.title{
    color: white;
    margin-bottom: 0;
}

.soccer{
    margin: 5px 0px 20px;
    background-color: black;
    padding: 20px 20px;
    border-radius: 5px;
    color: red;
    font-family: digital-7;
}

button{
    padding: 5px 10px;
    background-color: darkblue;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    margin-bottom: 40px;
}